# ----------------------------
# Node
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ----------------------------
# Environment files
# ----------------------------
.env
.env.*
!.env.example


# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# OS files
# ----------------------------
.DS_Store

# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Build folders
# ----------------------------
dist/
build/

# ----------------------------
# Docker
# ----------------------------
*.pid
*.seed
*.pid.lock
docker-data/

# ----------------------------
# Coverage
# ----------------------------
coverage/